certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
configparser==7.1.0
idna==3.8
joblib==1.4.2
nltk==3.9.1
praw==7.7.1
prawcore==2.4.0
pycparser==2.22
regex==2024.7.24
requests==2.32.3
textblob==0.18.0.post0
tqdm==4.66.5
update-checker==0.18.0
urllib3==2.2.2
websocket-client==1.8.0
